<!--filter-inner-wrap-->
<div class="filter-inner-wrap filter-box js-filter">
	<a href="" class="btn-action-select btn-filter-toggle js-filter-open">
		<div class="button-ico">
			<img src="./img/icons/filter.svg" alt="">
		</div>
		<div class="button-title">Фильтры</div>
	</a>
	<div class="filter-content-wrap">
		<div class="filter-title-wrap">
			<div class="filter-title">Фильтр</div>
			<a href="" class="btn-action-ico ico-close btn-filter-close js-filter-toggle"></a>
		</div>
		<div class="filter-content-inner">
			
			<!--frm-select-wrap-->
			<div class="frm-select-wrap js-popup-wrap no-close-mobile">
				<a href="" class="btn-action-select js-btn-popup-toggle">Цена</a>
				<div class="select-content-block js-popup-block">
					<div class="frm-field-range">
						<div id="range-slider"></div>
						<div class="field-range-labels">
							<div class="field-range-label"></div>
							<div class="field-range-label">1 500</div>
							<div class="field-range-label">3 000</div>
							<div class="field-range-label">4 500</div>
							<div class="field-range-label"></div>
						</div>
						<div class="field-range-wrap">
							<div class="field-range">
								<input type="number" class="form-input" id="input-number-min" placeholder="От 1 200">
							</div>
							<div class="field-range">
								<input type="number" class="form-input" id="input-number-max" placeholder="До 1 200">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/frm-select-wrap-->
			
			<!--frm-select-wrap-->
			<div class="frm-select-wrap js-popup-wrap no-close-mobile">
				<a href="" class="btn-action-select js-btn-popup-toggle">Финиш</a>
				<div class="select-content-block js-popup-block">
					<div class="select-content-list">
						<div class="frm-select">
							<input type="checkbox" id="filter01-01">
							<label for="filter01-01">МАТОВЫЙ (158)</label>
						</div>
						<div class="frm-select">
							<input type="checkbox" id="filter01-02">
							<label for="filter01-02">САТИН (499)</label>
						</div>
						<div class="frm-select">
							<input type="checkbox" id="filter01-03">
							<label for="filter01-03">САТИН (6)</label>
						</div>
						<div class="frm-select">
							<input type="checkbox" id="filter01-04">
							<label for="filter01-04">СЛЮДА (155)</label>
						</div>
						<div class="frm-select">
							<input type="checkbox" id="filter01-05">
							<label for="filter01-05">ШИММЕР (175)</label>
						</div>
					</div>
					<div class="select-actions-list">
						<div class="select-action-wrap">
							<a href="" class="btn button-border button-dark">Сбросить</a>
						</div>
						<div class="select-action-wrap">
							<a href="" class="btn button-dark">Готово</a>
						</div>
					</div>
				</div>
			</div>
			<!--/frm-select-wrap-->
			
			<!--frm-select-wrap-->
			<div class="frm-select-wrap js-popup-wrap no-close-mobile">
				<a href="" class="btn-action-select js-btn-popup-toggle">Цвет</a>
				<div class="select-content-block js-popup-block">
					<div class="select-content-list">
						<div class="frm-select">
							<input type="checkbox" id="filter02-01">
							<label for="filter02-01">БЕЖЕВЫЙ (56)</label>
						</div>
						<div class="frm-select">
							<input type="checkbox" id="filter02-02">
							<label for="filter02-02">БЕЛЫЙ (8)</label>
						</div>
						<div class="frm-select">
							<input type="checkbox" id="filter02-03">
							<label for="filter02-03">БИРЮЗОВЫЙ (56)</label>
						</div>
						<div class="frm-select">
							<input type="checkbox" id="filter02-04">
							<label for="filter02-04">БОЛОТНЫЙ (14)</label>
						</div>
						<div class="frm-select">
							<input type="checkbox" id="filter02-05">
							<label for="filter02-05">БОРДОВЫЙ (21)</label>
						</div>
						<div class="frm-select">
							<input type="checkbox" id="filter02-06">
							<label for="filter02-06">БРОНЗОВЫЙ (11)</label>
						</div>
						<div class="frm-select">
							<input type="checkbox" id="filter02-07">
							<label for="filter02-07">БРУСНИЧНЫЙ (3)</label>
						</div>
						<div class="frm-select">
							<input type="checkbox" id="filter02-08">
							<label for="filter02-08">ВИШНЕВЫЙ (6)</label>
						</div>
						<div class="frm-select">
							<input type="checkbox" id="filter02-09">
							<label for="filter02-09">ГОЛУБОЙ (71)</label>
						</div>
						<div class="frm-select">
							<input type="checkbox" id="filter02-10">
							<label for="filter02-10">ЖЕЛТЫЙ (14)</label>
						</div>
						<div class="frm-select">
							<input type="checkbox" id="filter02-11">
							<label for="filter02-11">ЗЕЛЕНЫЙ (132)</label>
						</div>
						<div class="frm-select">
							<input type="checkbox" id="filter02-12">
							<label for="filter02-12">ЗОЛОТИСТЫЙ (99)</label>
						</div>
						<div class="frm-select">
							<input type="checkbox" id="filter02-13">
							<label for="filter02-13">ИЗУМРУДНЫЙ (3)</label>
						</div>
					</div>
					<div class="select-actions-list">
						<div class="select-action-wrap">
							<a href="" class="btn button-border button-dark">Сбросить</a>
						</div>
						<div class="select-action-wrap">
							<a href="" class="btn button-dark">Готово</a>
						</div>
					</div>
				</div>
			</div>
			<!--/frm-select-wrap-->
			
			<!--frm-select-wrap-->
			<div class="frm-select-wrap js-popup-wrap no-close-mobile">
				<a href="" class="btn-action-select js-btn-popup-toggle">Сложность</a>
				<div class="select-content-block js-popup-block">
					<div class="select-content-list">
						<div class="frm-select">
							<input type="checkbox" id="filter03-01">
							<label for="filter03-01">ЛЕГКО (650)</label>
						</div>
						<div class="frm-select">
							<input type="checkbox" id="filter03-02">
							<label for="filter03-02">СЛОЖНЫЙ (27)</label>
						</div>
						<div class="frm-select">
							<input type="checkbox" id="filter03-03">
							<label for="filter03-03">СРЕДНИЙ (274)</label>
						</div>
					</div>
					<div class="select-actions-list">
						<div class="select-action-wrap">
							<a href="" class="btn button-border button-dark">Сбросить</a>
						</div>
						<div class="select-action-wrap">
							<a href="" class="btn button-dark">Готово</a>
						</div>
					</div>
				</div>
			</div>
			<!--/frm-select-wrap-->
			
			<!--frm-select-wrap-->
			<div class="frm-select-wrap js-popup-wrap no-close-mobile">
				<a href="" class="btn-action-select js-btn-popup-toggle">Преломление</a>
				<div class="select-content-block js-popup-block">
					<div class="select-content-list">
						<div class="frm-select">
							<input type="checkbox" id="filter04-01">
							<label for="filter04-01">МОНО (420)</label>
						</div>
						<div class="frm-select">
							<input type="checkbox" id="filter04-02">
							<label for="filter04-02">ПРИЗМАТИК (235)</label>
						</div>
						<div class="frm-select">
							<input type="checkbox" id="filter04-03">
							<label for="filter04-03">ШИФТ (301)</label>
						</div>
					</div>
					<div class="select-actions-list">
						<div class="select-action-wrap">
							<a href="" class="btn button-border button-dark">Сбросить</a>
						</div>
						<div class="select-action-wrap">
							<a href="" class="btn button-dark">Готово</a>
						</div>
					</div>
				</div>
			</div>
			<!--/frm-select-wrap-->
			
			<!--frm-select-wrap-->
			<div class="frm-select-wrap js-popup-wrap no-close-mobile">
				<a href="" class="btn-action-select js-btn-popup-toggle">Тип</a>
				<div class="select-content-block js-popup-block">
					<div class="select-content-list">
						<div class="frm-select">
							<input type="checkbox" id="filter05-01">
							<label for="filter05-01">ВЕЧЕРНИЙ (221)</label>
						</div>
						<div class="frm-select">
							<input type="checkbox" id="filter05-02">
							<label for="filter05-02">ВЕЧЕРНИЙ (15)</label>
						</div>
						<div class="frm-select">
							<input type="checkbox" id="filter05-03">
							<label for="filter05-03">ПОВСЕДНЕВНЫЙ (373)</label>
						</div>
						<div class="frm-select">
							<input type="checkbox" id="filter05-04">
							<label for="filter05-04">СВАДЕБНЫЙ (43)</label>
						</div>
						<div class="frm-select">
							<input type="checkbox" id="filter05-05">
							<label for="filter05-05">СИЯЮЩИЙ (268)</label>
						</div>
						<div class="frm-select">
							<input type="checkbox" id="filter05-06">
							<label for="filter05-06">ЯРКИЙ (199)</label>
						</div>
					</div>
					<div class="select-actions-list">
						<div class="select-action-wrap">
							<a href="" class="btn button-border button-dark">Сбросить</a>
						</div>
						<div class="select-action-wrap">
							<a href="" class="btn button-dark">Готово</a>
						</div>
					</div>
				</div>
			</div>
			<!--/frm-select-wrap-->
			
			<!--frm-select-wrap-->
			<div class="frm-select-wrap js-popup-wrap no-close-mobile">
				<a href="" class="btn-action-select js-btn-popup-toggle">Стихия</a>
				<div class="select-content-block js-popup-block">
					<div class="select-content-list">
						<div class="frm-select">
							<input type="checkbox" id="filter06-01">
							<label for="filter06-01">ВОЗДУХ (1)</label>
						</div>
					</div>
					<div class="select-actions-list">
						<div class="select-action-wrap">
							<a href="" class="btn button-border button-dark">Сбросить</a>
						</div>
						<div class="select-action-wrap">
							<a href="" class="btn button-dark">Готово</a>
						</div>
					</div>
				</div>
			</div>
			<!--/frm-select-wrap-->
			
			<!--frm-select-wrap-->
			<div class="frm-select-wrap js-popup-wrap no-close-mobile">
				<a href="" class="btn-action-select js-btn-popup-toggle">Размер</a>
				<div class="select-content-block js-popup-block">
					<div class="select-content-list">
						<div class="frm-select">
							<input type="checkbox" id="filter07-01">
							<label for="filter07-01">Микро-тестер, рефилл 15 мм (2)</label>
						</div>
						<div class="frm-select">
							<input type="checkbox" id="filter07-02">
							<label for="filter07-02">Мини-семпл 0.5 мл (3)</label>
						</div>
						<div class="frm-select">
							<input type="checkbox" id="filter07-03">
							<label for="filter07-03">Полный формат (83)</label>
						</div>
						<div class="frm-select">
							<input type="checkbox" id="filter07-04">
							<label for="filter07-04">Сегмент сэмпл-палитры 1 мл (2) (83)</label>
						</div>
					</div>
					<div class="select-actions-list">
						<div class="select-action-wrap">
							<a href="" class="btn button-border button-dark">Сбросить</a>
						</div>
						<div class="select-action-wrap">
							<a href="" class="btn button-dark">Готово</a>
						</div>
					</div>
				</div>
			</div>
			<!--/frm-select-wrap-->
			
		</div>
		<div class="filter-actions-wrap">
			<div class="frm-row">
				<div class="frm-field">
					<button type="reset" class="btn button-dark button-border">Сбросить</button>
				</div>
				<div class="frm-field">
					<button type="submit" class="btn button-dark">Готово</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/filter-inner-wrap-->