
<!-- header -->
<header class="header">
	<!--header-top-panel-->
	<div class="header-top-panel cnt-section">
		<div class="inner-wrap">
			<div class="menu-inner-wrap popup-menu-wrap js-popup-wrap">
				<a href="" class="btn-popup btn-action-ico ico-menu button-active-close js-btn-popup-toggle"></a>
				<div class="popup-content-block js-popup-block">
					<div class="search-wrap">
						<form action="/" class="frm-main-search">
							<input type="text" class="form-input" placeholder="я ищу...">
							<button type="submit" class="btn-action-ico ico-search btn-form"></button>
						</form>
					</div>
					<div class="menu-wrap">
						<ul class="menu">
							<li class="menu-desktop-hide">
								<a href="" class="btn-menu">Каталог</a>
							</li>
							<li>
								<a href="" class="btn-menu">О нас</a>
							</li>
							<li>
								<a href="" class="btn-menu">Подборка цвета</a>
							</li>
							<li class="menu-desktop-hide">
								<a href="" class="btn-menu">Важно знать о продукте</a>
							</li>
							<li>
								<a href="" class="btn-menu">Доставка и оплата</a>
							</li>
							<li class="menu-desktop-hide">
								<a href="" class="btn-menu">Условия обмена и возврата</a>
							</li>
							<li class="menu-desktop-hide">
								<a href="" class="btn-menu">Как вступить в бонусный клуб?</a>
							</li>
							<li>
								<a href="" class="btn-menu">Опт и совместные покупки</a>
							</li>
							<li class="menu-desktop-hide">
								<a href="" class="btn-menu">Новости</a>
							</li>
							<li class="menu-mobile-hide">
								<a href="" class="btn-menu">Блог</a>
							</li>
							<li class="menu-desktop-hide">
								<a href="" class="btn-menu">Обратная связь</a>
							</li>
						</ul>
					</div>
					<div class="help-wrap">
						<div class="menu-title">Помощь менеджера</div>
						<p><a href="tel:89004811883">+7 900 481 18 83</a></p>
						<p><a href="mailto:manager@sigil.me" class="link-main">manager@sigil.me</a></p>
					</div>
					<div class="soc-wrap">
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc01.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc02.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc03.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc04.svg" alt="">
						</a>
					</div>
				</div>
			</div>
			<div class="actions-inner-wrap">
				<div class="action-wrap action-question">
					<a href="" class="btn button-clear">
						<div class="button-ico">
							<img src="./img/icons/question.svg" alt="">
						</div>
						<div class="button-title">Задать вопрос</div>
					</a>
				</div>
				<div class="action-wrap action-lang">
					<ul class="menu">
						<li><a href="">EN</a></li>
						<li><a href="" class="active">RU</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--/header-top-panel-->
	<!--header-main-panel-->
	<div class="header-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="catalog-inner-wrap popup-catalog-wrap js-popup-wrap">
				<a href="" class="btn-popup btn js-btn-popup-toggle">
					<div class="button-ico">
						<img src="./img/icons/catalog.svg" alt="">
					</div>
					<div class="button-title">Каталог</div>
				</a>
				<div class="popup-content-block js-popup-block">
					<a href="" class="btn-popup-close btn-action-ico ico-close js-menu-catalog-close"></a>
					<div class="catalog-menu-inner-wrap">
						<div class="catalog-menu-wrap">
							<ul class="menu">
								<li class="open">
									<a href="" class="btn-catalog-menu">
										<div class="button-title">Новая коллекция</div>
									</a>
									<div class="catalog-submenu-wrap">
										<div class="catalog-submenu-title-wrap">
											<div class="catalog-submenu-title">Новая коллекция</div>
											<div class="catalog-submenu-total">8 645 товаров</div>
										</div>
										<ul class="menu">
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Бежевые </div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Зеленые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Синие</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Золотые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Розовые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Фиолетовые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Голубые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Желтые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Серые</div>
											</a></li>
										</ul>
									</div>
								</li>
								<li>
									<a href="" class="btn-catalog-menu">
										<div class="button-title">АКЦИИ</div>
									</a>
									<div class="catalog-submenu-wrap">
										<div class="catalog-submenu-title-wrap">
											<div class="catalog-submenu-title">АКЦИИ</div>
											<div class="catalog-submenu-total">8 645 товаров</div>
										</div>
										<ul class="menu">
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Розовые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Фиолетовые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Голубые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Желтые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Серые</div>
											</a></li>
										</ul>
									</div>
								</li>
								<li>
									<a href="" class="btn-catalog-menu">
										<div class="button-title">Бестселлеры</div>
									</a>
									<div class="catalog-submenu-wrap">
										<div class="catalog-submenu-title-wrap">
											<div class="catalog-submenu-title">Бестселлеры</div>
											<div class="catalog-submenu-total">8 645 товаров</div>
										</div>
										<ul class="menu">
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Розовые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Фиолетовые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Розовые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Фиолетовые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Розовые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Фиолетовые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Розовые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Фиолетовые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Розовые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Фиолетовые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Розовые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Фиолетовые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Бежевые </div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Зеленые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Синие</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Золотые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Розовые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Фиолетовые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Голубые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Желтые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Серые</div>
											</a></li>
										</ul>
									</div>
								</li>
								<li>
									<a href="" class="btn-catalog-menu">
										<div class="button-title">Палитры</div>
									</a>
									<div class="catalog-submenu-wrap">
										<div class="catalog-submenu-title-wrap">
											<div class="catalog-submenu-title">Палитры</div>
											<div class="catalog-submenu-total">8 645 товаров</div>
										</div>
										<ul class="menu">
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Золотые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Розовые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Фиолетовые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Голубые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Желтые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Серые</div>
											</a></li>
										</ul>
									</div>
								</li>
								<li>
									<a href="" class="btn-catalog-menu">
										<div class="button-title">Прессованные тени</div>
									</a>
									<div class="catalog-submenu-wrap">
										<div class="catalog-submenu-title-wrap">
											<div class="catalog-submenu-title">Прессованные тени</div>
											<div class="catalog-submenu-total">8 645 товаров</div>
										</div>
										<ul class="menu">
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Голубые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Желтые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Серые</div>
											</a></li>
										</ul>
									</div>
								</li>
								<li>
									<a href="" class="btn-catalog-menu">
										<div class="button-title">Рассыпчатые тени</div>
									</a>
									<div class="catalog-submenu-wrap">
										<div class="catalog-submenu-title-wrap">
											<div class="catalog-submenu-title">Рассыпчатые тени</div>
											<div class="catalog-submenu-total">8 645 товаров</div>
										</div>
										<ul class="menu">
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Бежевые </div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Зеленые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Синие</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Золотые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Розовые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Фиолетовые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Голубые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Желтые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Серые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Бежевые </div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Зеленые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Синие</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Золотые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Розовые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Фиолетовые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Голубые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Желтые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Серые</div>
											</a></li>
										</ul>
									</div>
								</li>
								<li>
									<a href="" class="btn-catalog-menu">
										<div class="button-title">Продукты для лица</div>
									</a>
									<div class="catalog-submenu-wrap">
										<div class="catalog-submenu-title-wrap">
											<div class="catalog-submenu-title">Продукты для лица</div>
											<div class="catalog-submenu-total">8 645 товаров</div>
										</div>
										<ul class="menu">
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Зеленые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Синие</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Золотые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Розовые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Фиолетовые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Бежевые </div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Голубые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Желтые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Серые</div>
											</a></li>
										</ul>
									</div>
								</li>
								<li>
									<a href="" class="btn-catalog-menu">
										<div class="button-title">Лимитки и артефакты</div>
									</a>
									<div class="catalog-submenu-wrap">
										<div class="catalog-submenu-title-wrap">
											<div class="catalog-submenu-title">Лимитки и артефакты</div>
											<div class="catalog-submenu-total">8 645 товаров</div>
										</div>
										<ul class="menu">
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Бежевые </div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Зеленые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Синие</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Золотые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Розовые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Фиолетовые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Голубые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Желтые</div>
											</a></li>
											<li><a href="" class="btn-catalog-submenu">
												<div class="button-title">Серые</div>
											</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="logo-inner-wrap">
				<a href="" class="logo">
					<div class="logo-image">
						<img src="./img/main/logo.svg" alt="">
					</div>
					<div class="logo-title">
						<img src="./img/main/logo-title.svg" alt="">
					</div>
				</a>
			</div>
			<div class="search-inner-wrap">
				<form action="/" class="frm-main-search">
					<input type="text" class="form-input" placeholder="Поиск товара">
					<button type="submit" class="btn-action-ico ico-search btn-form"></button>
				</form>
			</div>
			<div class="actions-inner-wrap">
				<div class="action-wrap">
					<a href="" class="btn-action">
						<div class="button-ico">
							<img src="./img/icons/compare.svg" alt="">
						</div>
						<div class="button-title">Сравнение</div>
					</a>
				</div>
				<div class="action-wrap">
					<a href="" class="btn-action">
						<div class="button-ico">
							<img src="./img/icons/fav.svg" alt="">
						</div>
						<div class="button-title">Избранное</div>
					</a>
				</div>
				<div class="action-wrap">
					<a href="" class="btn-action" data-count="3">
						<div class="button-ico">
							<img src="./img/icons/cart.svg" alt="">
						</div>
						<div class="button-title">Корзина</div>
					</a>
				</div>
				<div class="action-wrap">
					<a href="" class="btn-action">
						<div class="button-ico">
							<img src="./img/icons/user.svg" alt="">
						</div>
						<div class="button-title">Войти</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--/header-main-panel-->
</header>
<!-- /header -->
 <!--mobile-panel-box-->
 <div class="mobile-panel-box bg-light-box">
	<div class="actions-inner-wrap">
		<div class="action-wrap">
			<a href="" class="btn-action js-menu-catalog-active">
				<div class="button-ico">
					<img src="./img/icons/mobile-catalog.svg" alt="">
				</div>
				<div class="button-title">Каталог</div>
			</a>
		</div>
		<div class="action-wrap">
			<a href="" class="btn-action">
				<div class="button-ico">
					<img src="./img/icons/mobile-compare.svg" alt="">
				</div>
				<div class="button-title">Сравнение</div>
			</a>
		</div>
		<div class="action-wrap">
			<a href="" class="btn-action">
				<div class="button-ico">
					<img src="./img/icons/mobile-fav.svg" alt="">
				</div>
				<div class="button-title">Избранное</div>
			</a>
		</div>
		<div class="action-wrap">
			<a href="" class="btn-action" data-count="3">
				<div class="button-ico">
					<img src="./img/icons/mobile-cart.svg" alt="">
				</div>
				<div class="button-title">Корзина</div>
			</a>
		</div>
		<div class="action-wrap">
			<a href="" class="btn-action">
				<div class="button-ico">
					<img src="./img/icons/mobile-user.svg" alt="">
				</div>
				<div class="button-title">Войти</div>
			</a>
		</div>
	</div>
 </div>
 <!--/mobile-panel-box-->

